@import "tailwindcss";

body {
  font-family: Karla, sans-serif;
}

/* Toast Animation */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
.link-hover {
    position: relative;
    display: inline-block;
  }
  .link-hover::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px; /* hoặc -1px tùy chỉnh */
    background-color: #C89F94; /* text-gray-600 */
    transition: width 0.3s ease-in-out;
  }
  .link-hover:hover::after {
    width: 100%;
  }
